*.pyc
test*.wig
.pytest_cache
*.fasta.wig
*.gz
bigWigToWig
cleanup.sh
build
dist
GC_analysis.egg-info
tests/chrom.size
tests/generate_tests.sh
tests/example1.fasta
tests/s.wig
tests/GRCh38-Chrom17_frag.fasta
